
<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-8 col-xl-6">
      <div class="card rounded-3">
        <div class="card-body p-2 p-md-3">
          <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 text-center">Account Settings</h3>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

            <div class="profile">
            <%= image_tag(resource.avatar_thumbnail) if resource.avatar.attached? %>
          </div>


            <div class="btn-group" role="group" aria-label="Basic example">
              <div style="margin-top: 10px;">
                <span class="btn btn-large btn-info btn-file">
                  <%= f.label :add_avatar %>
                  <%= f.file_field :avatar, accept: "image/*" %>
                </span>
              </div>&nbsp;
            </div>

            <div class="form-outline mb-2">
            <%= f.label :email, class:"form-label"  %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
          </div>

            <div class="form-outline mb-2">
            <%= f.label :password, class:"form-label" %><br />
            <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
          </div>

            <div class="form-outline mb-2">
            <%= f.label :password_confirmation, class:"form-label"  %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
          </div>

            <div class="form-outline mb-2">
            <%= f.label :current_password, class:"form-label" %> </i><br />
            <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
          </div>

            <div class="btn-group">
              <div class="actions">
                <%= f.submit "Update", class: "btn btn-success"%>
              </div><br />&nbsp;
            <% end %>
            <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger"%>
          </div>

          <div class="back" style="text-align: right">
            <%= link_to "Back", :back%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <style>

      .card {
          background: rgba(255, 255, 255, 0.95);
      }

      .btn-file {
          position: relative;
          overflow: hidden;
      }
      .btn-file input[type=file] {
          position: absolute;
          top: 0;
          right: 0;
          min-width: 100%;
          min-height: 100%;
          font-size: 100px;
          text-align: right;
          filter: alpha(opacity=0);
          opacity: 0;
          outline: none;
          background: white;
          cursor: inherit;
          display: block;
      }

      body {
          background-color: lightslategrey;
      }

  </style>